/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss';
@import '@nuxt/ui';
@import './components.css';
@import './theme.css';
@plugin 'tailwind-scrollbar' {}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    font-family: Pretendard, Roboto, 'Arial', sans-serif;
    font-size: 14px;
  }

  button {
    cursor: pointer;
  }

  /* border 클래스에 대한 특별 규칙 추가 
  .border {
    border-width: 1px !important;
  }
  .border-0 {
    border-width: 0 !important;
  }*/
}

/*@font-face {
  font-family: 'Pretendard';
  src:
    url('../fonts/Pretendard-Regular.woff') format('woff'),
    url('../fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('../fonts/Pretendard-SemiBold.woff') format('woff'),
    url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}*/

/* 다크 모드 설정 */
:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
